__pycache__
/build/
/control
/control.md5sum
/files
/libxen-*.*/
!/libxen-dev.install
/libxen-dev/
/libxenstore3.0/
/rules.gen
/stamps/
/xen-hypervisor-*.*-*
/xenstore-utils/
/xen-system-*/
/xen-utils-*.*/
/xen-utils-*.*.*
!/xen-utils-common.*
/xen-utils-common/
*.debhelper*
*.substvars
